Node-RED_Tutorial/example3.json
[
    {
        "id": "a8f8eb5b.215db",
        "type": "tab",
        "label": "FwD#2.2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7f733f3f.d85a48",
        "type": "inject",
        "z": "a8f8eb5b.215db",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "7a8b0cf1.3ec1a4"
            ]
        ]
    },
    {
        "id": "7a8b0cf1.3ec1a4",
        "type": "http request",
        "z": "a8f8eb5b.215db",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.17.3/middleware.php/data/4ffc4040-6751-11e7-af01-5bf5a582cfa1.json?from=1+minutes+ago&tuples=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 320,
        "y": 280,
        "wires": [
            [
                "6d07fec2.1be288"
            ]
        ]
    },
    {
        "id": "6d07fec2.1be288",
        "type": "json",
        "z": "a8f8eb5b.215db",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 540,
        "y": 280,
        "wires": [
            [
                "81b318d.4f31468",
                "dd320190.7f9d48"
            ]
        ]
    },
    {
        "id": "c9593957.eddaa",
        "type": "debug",
        "z": "a8f8eb5b.215db",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 400,
        "wires": []
    },
    {
        "id": "81b318d.4f31468",
        "type": "change",
        "z": "a8f8eb5b.215db",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.consumption",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 540,
        "wires": [
            [
                "c9593957.eddaa",
                "4a9dd81f.05f03",
                "ed602be0.aac76"
            ]
        ]
    },
    {
        "id": "dd320190.7f9d48",
        "type": "debug",
        "z": "a8f8eb5b.215db",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 260,
        "wires": []
    },
    {
        "id": "4a9dd81f.05f03",
        "type": "switch",
        "z": "a8f8eb5b.215db",
        "name": "Check for elecrtical autonomy ",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 980,
        "y": 540,
        "wires": [
            [
                "1ceaccc4.6e7163"
            ],
            [
                "d0614065.d4415"
            ]
        ]
    },
    {
        "id": "1ceaccc4.6e7163",
        "type": "change",
        "z": "a8f8eb5b.215db",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "NOT AUTONOMOUS!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 540,
        "wires": [
            [
                "7fe193be.550f24"
            ]
        ]
    },
    {
        "id": "7fe193be.550f24",
        "type": "ui_text",
        "z": "a8f8eb5b.215db",
        "group": "a606c50c.b6d79",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Autonomy:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1440,
        "y": 540,
        "wires": []
    },
    {
        "id": "ed602be0.aac76",
        "type": "ui_gauge",
        "z": "a8f8eb5b.215db",
        "name": "",
        "group": "a606c50c.b6d79",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Power consumption grid",
        "label": "Watt",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1100,
        "y": 420,
        "wires": []
    },
    {
        "id": "d0614065.d4415",
        "type": "change",
        "z": "a8f8eb5b.215db",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "GRID AUTONOMY!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 600,
        "wires": [
            [
                "7fe193be.550f24"
            ]
        ]
    },
    {
        "id": "a606c50c.b6d79",
        "type": "ui_group",
        "name": "Grid power",
        "tab": "11aa4a7c.560c06",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "11aa4a7c.560c06",
        "type": "ui_tab",
        "name": "Fun with devices",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    }
]

